.banner-product-bestselling {
    position: relative;
    /* background-color: #EEE; */
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
}

.slide .slide-items {
    margin: auto;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.product-container {
    overflow-x: hidden;
    white-space: nowrap;
    user-select: none;
    scroll-behavior: smooth;
}

.product-container .product {
    display: inline-flex;
    margin-right: 24px;
}

.slide-arrow .arrow {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
    font-size: 4rem;
    color: rgba(10, 10, 10, 0.794);
    transition: .3s ease;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
}

.slide-arrow .left {
    left: 12px;
}

.slide-arrow .arrow:hover {
    background-color: rgba(0, 0, 0, 0.226);
}