.banner-home button {
    background-color: rgb(255, 100, 100);
    padding: 24px;
    font-size: 1em;
    border: 2px solid rgb(255, 100, 100);
    border-radius: 4px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    outline: none;
    transition: .5s ease;
}

.banner-home button:hover {
    background-color: inherit;
    color: black;
}