.cart-box .fixed-cart-list {
    position: fixed;
    bottom: 100px;
    right: 30px;
    transition: 1.2s ease;
    transform: translateX(600px);
}

.cart-box .fixed-cart-list-active {
    transform: translateX(0);
}

.cart-box .fixed-icon {
    position: fixed;
    bottom: 24px;
    right: 24px;
}