.banner {
    background-color: rgb(255, 183, 183);
    height: 100vh;
    margin: 12rem;
    margin-top: -32px;
    background-image: url('https://source.unsplash.com/1920x1080');
    background-size: cover;
}