.btn-red {
    background-color: rgb(255, 100, 100);
    border: 2px solid rgb(255, 100, 100);
    padding: 16px 28px;
    font-size: 24px;
    font-weight: bold;
    color: white;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease;
}

.btn-red:hover {
    background-color: inherit;
    color: darkslategray;
}