body {
    margin: 0;
    font-size: 24px;
    font-family: "Roboto",sans-serif;
    background-color: rgb(254, 254, 253);
}

.container {
    margin: 0;
}

@media screen and (min-width: 900px) {
    .container {
        margin: 0 10em 0 10em;
    }    
}