.navbar-menu-item {
    border: none;
    background-color: inherit;
    font-size: .8em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Roboto",sans-serif;
    outline: none;
    cursor: pointer;
    padding: 12px;
}